@model Employee
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Edit Employee</h2>
<form asp-controller="Employee" asp-action="Update" method="post">
    <input asp-for="Id">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Pesel"></label>
        <input asp-for="Pesel" class="form-control" />
        <span asp-validation-for="Pesel" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Position"></label>
        <select asp-for="Position" class="form-control" asp-items="@Html.GetEnumSelectList<Positions>()"></select>
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DepartmentId"></label>
        <input class="form-control" type="text" id="filter" />
        <select asp-for="DepartmentId" class="form-control" id="DepartmentId"></select>
        <a asp-action="Create" asp-controller="Department">Add new department</a>
    </div>
    <div class="mb-3">
        <label asp-for="EmploymentDate"></label>
        <input asp-for="EmploymentDate" class="form-control" />
        <span asp-validation-for="EmploymentDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SackingDate"></label>
        <input asp-for="SackingDate" class="form-control" />
        <span asp-validation-for="SackingDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="reset" class="btn btn-secondary">Clear</button>
</form>

@section Scripts {
    <script>
        const select = document.querySelector('#DepartmentId');
        const filter = document.querySelector('#filter');

        fetch(`/api/departments`)
            .then(response => response.json())
            .then(departments => {
                for (const department of departments) {
                    const option = document.createElement('option');
                    option.setAttribute('value', department.id);
                    option.innerText = department.name;
                    select.appendChild(option);
                }

                select.value = @Model.DepartmentId;
            });

        filter.oninput = function () {
            select.innerHTML = "";
            fetch(`/api/departments?name=${filter.value}`)
                .then(response => response.json())
                .then(departments => {
                    for (const department of departments) {
                        const option = document.createElement('option');
                        option.setAttribute('value', department.id);
                        option.innerText = department.name;
                        select.appendChild(option);
                    }
                });
        }
    </script>
}