@model Position
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Position @Model.Name (id: @Model.Id)</h2>
<ul>
    <li><b>@Html.DisplayNameFor(model => model.Salary):</b> @Model.Salary</li>
</ul>
<a asp-action="Index" class="btn btn-primary">Go back to list</a>
